<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 1. Add Internet permission here, directly under the <manifest> tag -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- The <application> tag starts here -->
    <application
        android:label="mobile_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">  <!-- 2. Add this attribute if your backend URLs are HTTP (not HTTPS) -->
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <!-- Main Launcher Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- PayPal Deep Link Intent Filter (if you are using one) -->
            <!-- This allows PayPal to redirect back to your app -->
            <!-- The android:scheme MUST match the scheme you use in your PayPal return/cancel URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Replace "com.example.mobile_app.paypal" with your actual unique scheme -->
                <data android:scheme="com.example.mobile_app.paypal" /> 
            </intent-filter>
            <!-- End PayPal Deep Link -->

        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <!-- The <queries> tag (if you have one, for PayPal app checking or other intents) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Optional: Allows checking if the native PayPal app is installed -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="paypal" />
        </intent>
    </queries>

</manifest>
